* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(adrian-pelletier-HWXSmUoP66E-unsplash.jpg);
  opacity: 90%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 25%;
  overflow: hidden;
}

p{
  color: white;
}

.wrapper {
  background-color: hsl(180, 1%, 18%);
  margin: auto;

  max-width: 600px;
  padding: 25px;

  border-radius: 25px;
  box-shadow: 7px 10px 21px 5px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 7px 10px 21px 5px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 7px 10px 21px 5px rgba(0, 0, 0, 0.81);
}

.display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  padding: 25px 0;
  /* background-image: url(fiiireeeeeee2.0.jpg);
  background-position: 25px;
  background-size: cover;
  background-repeat: no-repeat; */
  
}
.LED {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background-color: red;
}
.clear{
  color: white;
  background-color: hsl(10, 94%, 60%);
}
.button-backSpace{
  background-color: hsl(243, 90%, 20%);
  
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: white;
  padding: 25px 150px;
  box-shadow: 7px 8px 8px -2px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 7px 8px 8px -2px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 7px 8px 8px -2px rgba(0, 0, 0, 0.73);
}

.buttons {
  display: grid;
  max-width: 600px;
  max-height: 750px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 100px);
  gap: 15px;
}
.button-backSpace{
  grid-column-start: 3;
  grid-column-end: 5;
  background: linear-gradient(145deg,
  #262626, #606060);
  box-shadow: 11px 11px 22px #141414,
  -11px -11px 22px #525252;
  color: wheat;
  border-radius: 25px;
}

button {
  font-size: x-large;
}
button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.button-divide {
  background-color: hsl(37, 100%, 6%);
}

.button-multi {
  background-color: hsl(37, 100%, 6%);
}
.button-minus {
  background-color: hsl(37, 100%, 6%);
}
.button-plus {
  background-color: hsl(37, 100%, 6%);
}

#gallery {
  height: 100vmax;
  width: 140vmax;
  position: absolute;
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}




.design{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  outline: none;
  border:4 rpx #090909 solid;
  background: linear-gradient(145deg, 
  #171717, #444245);
  box-shadow: inset 2px 2px 0px #7d7c7e,
  inset -2px -2px 0px #1c1c1c;
  color: wheat;
  }
  .button-backSpace{
    display: flex;
  justify-content: center;
  align-items: center;
  
  
  
  outline: none;
  border:4 rpx #090909 solid;
  background: linear-gradient(145deg, 
  #171717, #444245);
  box-shadow: inset 2px 2px 0px #7d7c7e,
  inset -2px -2px 0px #1c1c1c;
  color: wheat;
  }
  .button-backSpace:hover{
    color: skyblue;
  font-size: xx-large;
  }
  .button-backSpace::before{
    position: absolute;
    content: '';
    height: 110px;
    width: 270px;
    top: 50%;
    left: -55%;
    transform: translate(50%, -50%);
    border-radius: inherit;
    background: linear-gradient(145deg,
    #262626, #606060);
    box-shadow: 11px 11px 22px #141414,
    -11px -11px 22px #525252;
    z-index: -1;
  }
  .design:hover{
  color: skyblue;
  font-size: xx-large;
  }
  .design span{
  font-size: 2.5cm;
  }
  .design::before{
  position: absolute;
  content: '';
  height: 110px;
  width: 110px;
  top: 50%;
  left: -67.5%;
  transform: translate(50%, -50%);
  border-radius: inherit;
  background: linear-gradient(145deg,
  #262626, #606060);
  box-shadow: 11px 11px 22px #141414,
  -11px -11px 22px #525252;
  z-index: -1;
  }